body{

    background: #6d90c594;
}

.height{

    height: 100vh;
}

.form {

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

}
.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{

    padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}


.form-input:focus{

    box-shadow: none;
    border:none;
}
#result {
    margin-top: 50px;
    background-color: #c6dcff;
    border: 0px solid #c6dcff;
    border-radius: 10px;
    width: auto;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -5%);
}
#emojis {
    font-size: 40px;
}

.heading {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -80%);
    font-size: 69px;
    color: white;
    font-family: "Roboto Thin";
}